<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabian Nyström</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div class="container">
        <h1>Fabian Nyström</h1>
        <div class="pictureOfMe">
            <img src="images/Jag-Kvadrat.jpg" alt="Me">
        </div>

        <div class="contact-info">
            <div>
                <a href="mailto:fabbe.ny@gmail.com">fabbe.ny@gmail.com</a>
                <br>
                <a href="https://fnystrom.se/">fnystrom.se/</a>
            </div>
        </div>

        <h2>Utbildning</h2>
        <ul>
            <li class="info-block">
                <div>
                    <strong>Luleå Tekniska Universitet</strong>
                    <br>
                    Systemvetenskap
                    <br>
                    <i>Utbildning med fokus på projektarbeten, systemutveckling, databaser och verksamhetsnära IT-lösningar.</i>
                </div>
                <div class="date-location">
                    2023 - Förväntad examen 2026
                    <br>
                    Luleå, Sverige
                </div>
            </li>

            <li class="info-block">
                <div>
                    <strong>Nacka Gymnasium</strong>
                    <br>
                    Naturvetenskap med inriktning samhällskunskap
                </div>
                <div class="date-location">
                    2018 - 2021
                    <br>
                    Stockholm, Sverige
                </div>
            </li>
        </ul>

        <h2>Arbetserfarenhet</h2>
        <ul>
            <li class="info-block">
                <div>
                    <strong>StudentConsulting</strong>
                    <br>
                    Terminalarbetare på uppdrag för DHL
                </div>
                <div class="date-location">
                    Augusti 2025 - Pågående
                    <br>
                    Luleå, Sverige
                </div>
            </li>

            <li class="info-block">
                <div>
                    <strong>Julius Studentförening</strong>
                    <br>
                    Ordförande
                </div>
                <div class="date-location">
                    Verksamhetsåret 2024
                    <br>
                    Luleå, Sverige
                </div>
            </li>

            <li class="info-block">
                <div>
                    <strong>Scandic Luleå</strong>
                    <br>
                    Receptionist
                </div>
                <div class="date-location">
                    Juni 2024 - Augusti 2024
                    <br>
                    Luleå, Sverige
                </div>
            </li>

            <li class="info-block">
                <div>
                    <strong>Teleperformance</strong>
                    <br>
                    Kundtjänstspecialist på uppdrag för Scandic Hotels
                </div>
                <div class="date-location">
                    Februari 2022 - Juli 2022
                    <br>
                    Stockholm, Sverige
                </div>
            </li>
        </ul>

        <h2>Färdigheter</h2>
        <ul>
            <li>
                <strong>Programmeringsspråk:</strong>
                Java, Python, C#
            </li>
            <li>
                <strong>Verktyg:</strong>
                GIT, VS Code, Linux, MYSQL, Spring Boot, Word, Powerpoint
            </li>
            <li>
                <strong>Webb:</strong>
                HTML, CSS, JavaScript
            </li>
        </ul>
    </div>

    <br>

    <div class="container">
        <h1>Projekt</h1>
        <h2>AUX Music Sharing Platform</h2>
        <ul>
            <li class="info-block">
                <div>
                    AUX är en personlig och snygg webbplats där du och dina vänner kan dela, upptäcka och lyssna på musik. Tänk dig ett digitalt musikhäng - men privat, enkelt 
                    och helt fokuserat på er musiksmak. Du laddar upp låtar, bläddrar bland andras musik, och varje låt visas som en snygg bricka med titel, artist och ett omslag.
                    <br>
                    <br>
                    AUX är inte en kommersiell streamingtjänst, utan snarare ett vänskapligt projekt byggt med kärlek till musik och teknik. Målet är att göra det enkelt att dela låtar 
                    från alla dina favoritplattformar med kompisar, utan onödigt krångel.
                </div>
                <div class="date-location">
                    <a href="/auxshare">https://fnystrom.se/auxshare</a> 
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="images/AUXsmall.png" alt="AUX Logo">
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <p>
            Kontakta mig på 
            <a href="mailto:fabbe.ny@gmail.com">fabbe.ny@gmail.com</a>
        </p>
    </footer>
</body>
</html>